<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<img src="https://github.com/Iot-Health-Br/SpringBoot_GYM_CORE/blob/main/GYMCOREBG.png?raw=true" class="imagem-fundo">

<div class="container">
    <div class="centralizado">
        <h1>Tela de Login</h1>
    </div>
    <form class="login-form" action="/login" method="post">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        <input type="submit" value="Login">
    </form>

    <div class="link-cadastro">
        <form action="/cadastro" method="get">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div th:if="${error != null}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
