<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste do Luidy</title>
    <link rel="stylesheet" href="/Css/telaMatriculaAluno.css">
</head>
<body>
<img src="https://github.com/Iot-Health-Br/SpringBoot_GYM_CORE/blob/master/Logo%20Imagens/GYMCOREBG.png?raw=true" class="imagem-fundo">
<nav class="navbar">
    <div class="navbar-container">
        <a href="/homeUser" class="navbar-brand">VOLTAR</a>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="/cadastroUser" class="navbar-link ">Cadastrar Aluno</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Messages</a></li>
            <li class="navbar-item"><a href="/cadastroAdm" class="navbar-link ">Cadastrar Professor</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Tasks</a></li>
            <li class="navbar-item"><a href="/teste" class="navbar-link active">Tela Teste ADM</a></li>
        </ul>
        <div class="navbar-auth">
            <a href="/login" class="auth-link">Logout</a>
        </div>
    </div>
</nav>
<div class="table-container">
    <form class="register-form">
        <table>
            <thead>
            <tr>
                <th>Matricula</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>10/10/2023-10/01/2024</td>
                <td>
                    SupinoReto 5 x 15


                </td>

            </tr>
            </tbody>
        </table>
    </form>

</div>
<div class="form-container">
</div>
</body>
</html>
